.navbar {
    border-bottom: 2px solid #ddd;
}

.bordes {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.fondo {
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

.titulo {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.color1 {
    background-color: #ECF0F1;
}

.color2 {
    color: #333;
}

.letra {
    font-size: 70px;
}

.letra1 {
    font-size: 90px;
}

.mision_vision {
    height: 120px;
    width: 120px;
}

.card {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.card.visible {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.diagonal_text {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    transform: rotate(-45deg);
    color: #585858;
    font-weight: bold;
    margin-top: 60px;
    transition: transform 0.3s ease-in-out;
}

.diagonal_text2 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    transform: rotate(45deg);
    color: #585858;
    font-weight: bold;
    right: 10%;
    margin-top: 60px;
    transition: transform 0.3s ease-in-out;
}

.diagonal_text:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
}

.diagonal_text2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    transform: rotate(-45deg);
}

.diagonal_text3 {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-weight: bold;
}

img {
    height: 98%;
    width: 98%;
    max-height: 100px;
    max-width: 100px;
}

.padi {
    margin-bottom: 20px;
}

.padi2 {
    padding-bottom: 100px;
}

.padi3 {
    padding: 200px;
}

@media (max-width: 768px) {

    .diagonal_text {
        font-family: 'Times New Roman', Times, serif;
        position: static;
        display: inline-block;
        color: #333;
        font-weight: bold;
        margin-top: 1px;
    }

    .diagonal_text2 {
        font-family: 'Times New Roman', Times, serif;
        position: static;
        display: inline-block;
        color: #333;
        margin-top: 1px;
    }

    .diagonal_text:hover {
        transform: rotate(0deg);
    }

    .diagonal_text2:hover {
        transform: rotate(0deg);
    }

    .titulo {
        color: black;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .letra {
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }

    .letra1 {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }

    .padi2 {
        padding-bottom: 50px;
    }

    .padi3 {
        padding: 100px;
    }

    .subtitulo {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}