.fondo {
    font-family: Arial, sans-serif;
    background-image: url("https://c.pxhere.com/images/40/3f/ab3b82814ee7067c12e3e72a606e-1624088.jpg!d");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

.navbar {
    border-bottom: 2px solid #ddd;
}

.fondo {
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

.mision_vision {
    height: 120px;
    width: 120px;
}

.tiposmulticanchas img {
    height: 300px;
    width: 100%;
    margin: 10px;
}

h3,
h4,
h5,
h6 {
    color: #FFC107 !important;
    font-weight: 700 !important;
}

.nuestroservicios li {
    padding: 5px;
    margin-left: 5%;
}

footer li {
    margin-left: 10%;
}

@media (max-width: 768px) {}